-var cl = "";
if trick.status == true
    -cl = "success";

fieldset(class="row #{cl}" id="#{trick._id}")
    input(type="hidden" name="tricks[#{trick._id}][id][]" value="#{trick._id}")
    .col-md-6
        -var trick_name = trick.name != undefined ? trick.name : "";
        
        input(type="text" class="form-control" id="" name="tricks[#{trick._id}][name][]" value="#{trick_name}")

    .col-md-6
        input(type="hidden" name="tricks[#{trick._id}][status][]" value="#{trick.status}")
        button(type="button" class="btn btn-default validate-row") ✓
    

